@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:ital,wght@0,400;0,700;1,300&display=swap");

$submit-color: #29c;
$error-color: complement($submit-color);
$disabled-color: #aaa;
$background: #ddd;

* {
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.1em;
}

code,
input[type="text"],
textarea {
  padding: 0.2rem;
  line-height: 1.1em;
  font-family: "Fira Mono", monospace;
}

body {
  max-width: 80ex;
  width: 90%;
  margin: 3rem auto 4rem;
  background: $background;

  > div {
    margin: 1rem 0;
  }
}

code {
  line-height: 1.1rem;
  font-size: 0.9rem;
}

label {
  margin: 0.2rem 0;
  display: inline-block;
  margin-right: 1ex;
}

h1 {
  text-align: center;
}

.italic {
  font-style: italic;
}

select,
option {
  cursor: pointer;
}

textarea {
  resize: vertical;
  height: 10rem;
}

textarea,
input[type="text"] {
  width: 100%;
}

textarea,
input,
button,
option {
  margin: 0;
  border: 1px solid #000;
  border-radius: 0.2rem;
}

textarea,
input,
button {
  &.error {
    border-width: 2px;
    border-color: $error-color;
  }

  &:disabled {
    color: $disabled-color;
    border-color: $disabled-color;
    background: none;
  }
}

button {
  padding: 0.3em 0.5em;
  cursor: pointer;
  color: #fff;
  background: $submit-color;
  border-color: $submit-color;

  &:hover {
    color: $submit-color;
    background: #fff;
    border-color: $submit-color;
  }

  &.alert {
    background: $error-color;
    border-color: $error-color;
    &:hover {
      color: $error-color;
      border-color: $error-color;
    }
  }

  &.small {
    font-size: 0.7rem;
  }

  &.big {
    font-size: 1.2rem;
  }

  &:disabled {
    color: #fff;
    background: $disabled-color;
  }

  &.clear {
    padding: 0;
    background: none;
    border: none;
    color: #000;
    text-align: left;

    &:hover {
      text-shadow: 0 0 0.1rem #0008;
    }
  }
}

%topbar {
  height: 2rem;
  line-height: 2rem;
  padding-top: 0;
  vertical-align: middle;
}

#current-time {
  @extend %topbar;

  background: darken($background, 10%);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

#history-feed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  margin: 0;
  z-index: 10;
  display: grid;
  grid-template-rows: auto 1fr;

  > button {
    @extend %topbar;

    border-radius: 0;
    width: 100%;
  }

  > .list {
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  &.open {
    min-width: 18rem;
    max-width: 80%;
    background: $background;
    box-shadow: 0 0 0.3rem #0006;

    > .list {
      $gap: 0.4rem;

      display: grid;
      align-content: start;
      padding: $gap;
      padding-right: #{$gap * 2};
      grid-gap: $gap;

      > div {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: $gap;
      }
    }
  }
}
